version: "3.8"

services:
  backend:
    build: ./backend
    container_name: reg_backend
    restart: unless-stopped
    environment:
      - PORT=5000
      - DATABASE_FILE=/data/users.db
    volumes:
      - backend_data:/data
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: reg_frontend
    restart: unless-stopped
    ports:
      - "8085:80"
    depends_on:
      - backend

volumes:
  backend_data:
